$lt-gray: #ddd;
$background-dark: #353f7a;
$background-light: #677ae6;
$background-pale: #8999f3;

$background-moredark: #172675;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px, 30px);
    background: $background-light;
    color: floralwhite;
    min-height: 150px;
}

.active {

}